<header>
  <h1>Ambethia</h1>
</header>

<main>

  <div class="session panel">
    <header>
      <h3>ようこそ</h3>
    </header>
    <section>
      <form action="">
        <div class="text-field user">
          <div class="icon-wrap"><%= icon :envelope %></div>
          <div class="input-wrap"><input type="email" placeholder="Email Address"/></div>
        </div>
        <div class="text-field user">
          <div class="icon-wrap"><%= icon :key %></div>
          <div class="input-wrap"><input type="password" placeholder="Password"/></div>
        </div>
        <a class="button" href="">Sign In</a>
      </form>
    </section>
  </div>

</main>
